.base {
    height: 54px;
    
    position: relative;
    background-color: rgb(160, 90, 90);
}

.fixed {
    background-color: rgb(5, 5, 5);
    

    position: fixed;
    width: 600px;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}