.base {
    height: 60px;
    
    position: relative;
}

.fixed {
    background-color: rgb(8, 8, 8);
    
    position: fixed;
    width: 700px;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 0 0 160px 160px;
}

.button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    transform: translateY(-1px);
}