:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;

  color: rgba(255, 255, 245, .85);
  background-color: #161618;

  --color-text-primary: rgba(255, 255, 245, .85);
  --color-text-secundary: gray;
  --color-text-tertiary: #505050;
  --color-text-quaternary: #1b1b1b;

  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
}
